{% extends "base.html" %}
{% block head %}
<title>YourNews - Home</title>
{% endblock %}

{% block body %}
<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            <div class="first-slot">
                <div class="masonry-box post-media">
                    <img src="{{ articles[0]['urlToImage'] }}" width="788" height="443" alt="" class="img-fluid">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-orange"><a href="/category/{{ articles[0]['category'].lower() }}"
                                        title="">{{ articles[0]['category'] }}</a></span>
                                <h4><a href="{{ articles[0]['url'] }}" target="_blank" title="">{{
                                        articles[0]['title'] }}</a></h4>
                                <small><a href="tech-single.html" title="">{{
                                        toDateTime(articles[0]['publishedAt']).strftime("%d %B, %Y") }}</a></small>
                                <small><a href="tech-author.html" title="">{{ articles[0]['author'] }}</a></small>
                                <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> {{
                                        articles[0]['subjectivity'] }}</a></small>
                                {% if articles[0]['authentication'] == "Verified Credibility" %}
                                <small><a href="tech-author.html" title=""> <i class="fa fa-check-circle bg-green"></i>
                                        {{ articles[0]['authentication'] }}</a></small>
                                {% else %}
                                <small><a href="tech-author.html" title=""> <i class="	fa fa-close bg-red"></i> {{
                                        articles[0]['authentication'] }}</a></small>
                                {% endif %}
                                {%if check_article_save(articles[0])%}
                                <form class="form-wrapper" method="POST" action="/delete_save">
                                    <input type="text" name="article" style="display: none"
                                    value="{{ json.dumps(articles[0]) }}">
                                    <input type="text" name="link" style="display: none" value="/{{page_number}}">
                                    <button type="submit"><small><i class="fa fa-bookmark"
                                    style="font-size:18px; color: white"></i></small></button>
                                </form>
                                {% else %}
                                <form class="form-wrapper" method="POST" action="/save">
                                    <input type="text" name="article" style="display: none"
                                        value="{{ json.dumps(articles[0]) }}">
                                    <input type="text" name="link" style="display: none" value="/{{page_number}}">
                                    <button type="submit"><small><i class="fa fa-bookmark-o"
                                                style="font-size:18px; color: white"></i></small></button>
                                </form>
                                {% endif %}
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end first-side -->

            <div class="second-slot">
                <div class="masonry-box post-media">
                    <img src="{{ articles[1]['urlToImage'] }}" width="394" height="499" alt="" class="img-fluid">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-orange"><a href="/category/{{ articles[1]['category'].lower() }}"
                                        title="">{{ articles[1]['category'] }}</a></span>
                                <h4><a href="{{ articles[1]['url'] }}" target="_blank" title="">{{
                                        articles[1]['title'] }}</a></h4>
                                <small><a href="tech-single.html" title="">{{
                                        toDateTime(articles[1]['publishedAt']).strftime("%d %B, %Y") }}</a></small>
                                <small><a href="tech-author.html" title="">{{ articles[1]['author'] }}</a></small>
                                <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> {{
                                        articles[1]['subjectivity'] }}</a></small>
                                {% if articles[1]['authentication'] == "Verified Credibility" %}
                                <small><a href="tech-author.html" title=""> <i class="fa fa-check-circle bg-green"></i>
                                        {{ articles[1]['authentication'] }}</a></small>
                                {% else %}
                                <small><a href="tech-author.html" title=""> <i class="	fa fa-close bg-red"></i> {{
                                        articles[1]['authentication'] }}</a></small>
                                {% endif %}
                                {%if check_article_save(articles[1])%}
                                <form class="form-wrapper" method="POST" action="/delete_save">
                                    <input type="text" name="article" style="display: none"
                                    value="{{ json.dumps(articles[1]) }}">
                                    <input type="text" name="link" style="display: none" value="/{{page_number}}">
                                    <button type="submit"><small><i class="fa fa-bookmark"
                                    style="font-size:18px; color: white"></i></small></button>
                                </form>
                                {% else %}
                                <form class="form-wrapper" method="POST" action="/save">
                                    <input type="text" name="article" style="display: none"
                                        value="{{ json.dumps(articles[1]) }}">
                                    <input type="text" name="link" style="display: none" value="/{{page_number}}">
                                    <button type="submit"><small><i class="fa fa-bookmark-o"
                                                style="font-size:18px; color: white"></i></small></button>
                                </form>
                                {% endif %}
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end second-side -->

            <div class="last-slot">
                <div class="masonry-box post-media">
                    <img src="{{ articles[2]['urlToImage'] }}" width="394" height="499" alt="" class="img-fluid">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-orange"><a href="/category/{{ articles[2]['category'].lower() }}"
                                        title="">{{ articles[2]['category'] }}</a></span>
                                <h4><a href="{{ articles[2]['title'] }}" target="_blank" title="">{{
                                        articles[2]['title'] }}</a></h4>
                                <small><a href="tech-single.html" title="">{{
                                        toDateTime(articles[2]['publishedAt']).strftime("%d %B, %Y") }}</a></small>
                                <small><a href="tech-author.html" title="">{{ articles[2]['author'] }}</a></small>
                                <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> {{
                                        articles[2]['subjectivity'] }}</a></small>
                                {% if articles[2]['authentication'] == "Verified Credibility" %}
                                <small><a href="tech-author.html" title=""> <i class="fa fa-check-circle bg-green"></i>
                                        {{ articles[2]['authentication'] }}</a></small>
                                {% else %}
                                <small><a href="tech-author.html" title=""> <i class="	fa fa-close bg-red"></i> {{
                                        articles[2]['authentication'] }}</a></small>
                                {% endif %}
                                {%if check_article_save(articles[2])%}
                                <form class="form-wrapper" method="POST" action="/delete_save">
                                    <input type="text" name="article" style="display: none"
                                    value="{{ json.dumps(articles[2]) }}">
                                    <input type="text" name="link" style="display: none" value="/{{page_number}}">
                                    <button type="submit"><small><i class="fa fa-bookmark"
                                    style="font-size:18px; color: white"></i></small></button>
                                </form>
                                {% else %}
                                <form class="form-wrapper" method="POST" action="/save">
                                    <input type="text" name="article" style="display: none"
                                        value="{{ json.dumps(articles[2]) }}">
                                    <input type="text" name="link" style="display: none" value="/{{page_number}}">
                                    <button type="submit"><small><i class="fa fa-bookmark-o"
                                                style="font-size:18px; color: white"></i></small></button>
                                </form>
                                {% endif %}
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end second-side -->
        </div><!-- end masonry -->
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                    </div><!-- end blog-top -->

                    <div class="blog-list clearfix">
                        {% for article in articles[3:] %}
                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="{{ article['url'] }}" title="">
                                        <img src="{{ article['urlToImage'] }}" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="{{ article['url'] }}" title="">{{ article['title'] }}</a>
                                </h4>
                                <p>{{ article['description'] }}</p>
                                <small class="firstsmall"><a class="bg-orange"
                                        href="/category/{{ article['category'].lower() }}" title="">{{
                                        article['category'] }}</a></small>
                                <small><a href="tech-single.html" title="">{{
                                        toDateTime(article['publishedAt']).strftime("%d %B, %Y") }}</a></small>
                                <small><a href="tech-author.html" title="">{{ article['author'] }}</a></small>
                                <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> {{ article['subjectivity'] }}</a></small>
                                {% if article['authentication'] == "Verified Credibility" %}
                                <small><a href="tech-author.html" title=""> <i class="fa fa-check-circle bg-green"></i>
                                        {{ article['authentication'] }}</a></small>
                                {% else %}
                                <small><a href="tech-author.html" title=""> <i class="	fa fa-close bg-red"></i> {{
                                        article['authentication'] }}</a></small>
                                {% endif %}
                                {%if check_article_save(article)%}
                                <form class="form-wrapper" method="POST" action="/delete_save">
                                    <input type="text" name="article" style="display: none"
                                    value="{{ json.dumps(article) }}">
                                    <input type="text" name="link" style="display: none" value="/{{page_number}}">
                                    <button type="submit"><small><i class="fa fa-bookmark"
                                    style="font-size:18px;"></i></small></button>
                                </form>
                                {% else %}
                                <form class="form-wrapper" method="POST" action="/save">
                                    <input type="text" name="article" style="display: none"
                                        value="{{ json.dumps(article) }}">
                                    <input type="text" name="link" style="display: none" value="/{{page_number}}">
                                    <button type="submit"><small><i class="fa fa-bookmark-o"
                                                style="font-size:18px;"></i></small></button>
                                </form>
                                {% endif %}
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->
                        <hr class="invis">
                        {% endfor %}
                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">
                                {% for i in range(1, user["number_of_pages"]) %}
                                <li class="page-item"><a class="page-link" href="/{{i}}">{{i}}</a></li>
                                {% endfor %}
                                <li class="page-item">
                                    <a class="page-link" href="/{{page_number + 1}}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="{{ url_for('static', filename='images/ad.jpg') }}" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Trending {{ top_category1.title() }} Posts</h2>
                        <div class="trend-videos">
                            <div class="blog-box">
                                <div class="post-media">
                                    <a href="{{top_articles1[0]['url'] }}" title="">
                                        <img src="{{ top_articles1[0]['urlToImage'] }}" alt="" class="img-fluid">
                                        <div class="hovereffect">
                                            <span class="videohover"></span>
                                        </div><!-- end hover -->
                                    </a>
                                </div><!-- end media -->
                                <div class="blog-meta">
                                    <h4><a href="{{top_articles1[0]['url'] }}" title="">{{top_articles1[0]['title']
                                            }}</a></h4>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->

                            <hr class="invis">

                            <div class="blog-box">
                                <div class="post-media">
                                    <a href="{{top_articles1[1]['url'] }}" title="">
                                        <img src="{{top_articles1[1]['urlToImage'] }}" alt="" class="img-fluid">
                                        <div class="hovereffect">
                                            <span class="videohover"></span>
                                        </div><!-- end hover -->
                                    </a>
                                </div><!-- end media -->
                                <div class="blog-meta">
                                    <h4><a href="{{top_articles1[1]['url'] }}" title="">{{top_articles1[1]['title']
                                            }}</a></h4>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->

                            <hr class="invis">

                            <div class="blog-box">
                                <div class="post-media">
                                    <a href="{{top_articles1[2]['url'] }}" title="">
                                        <img src="{{top_articles1[2]['urlToImage'] }}" alt="" class="img-fluid">
                                        <div class="hovereffect">
                                            <span class="videohover"></span>
                                        </div><!-- end hover -->
                                    </a>
                                </div><!-- end media -->
                                <div class="blog-meta">
                                    <h4><a href="{{top_articles1[2]['url'] }}" title="">B{{top_articles1[2]['title']
                                            }}</a></h4>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->
                        </div><!-- end videos -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title"> Popular {{ top_category2.title() }} Posts</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">
                                <a href="{{ top_articles2[0]['url'] }}"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="{{top_articles2[0]['urlToImage'] }}" alt=""
                                            class="img-fluid float-left">
                                        <h5 class="mb-1">{{ top_articles2[0]['title'] }}</h5>
                                        <small>{{ toDateTime(top_articles2[0]['publishedAt']).strftime("%d %B, %Y")
                                            }}</small>
                                    </div>
                                </a>

                                <a href="{{ top_articles2[1]['url'] }}"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="{{top_articles2[1]['urlToImage'] }}" alt=""
                                            class="img-fluid float-left">
                                        <h5 class="mb-1">{{top_articles2[1]['title'] }}</h5>
                                        <small>{{ toDateTime(top_articles2[1]['publishedAt']).strftime("%d %B, %Y")
                                            }}</small>
                                    </div>
                                </a>

                                <a href="{{ top_articles2[2]['url'] }}"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-200 last-item justify-content-between">
                                        <img src="{{top_articles2[2]['urlToImage'] }}" alt=""
                                            class="img-fluid float-left">
                                        <h5 class="mb-2">{{top_articles2[2]['title'] }}</h5>
                                        <small>{{ toDateTime(top_articles2[2]['publishedAt']).strftime("%d %B, %Y")
                                            }}</small>
                                    </div>
                                </a>
                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->


                    <div class="widget">
                        <h2 class="widget-title">Follow Us</h2>

                        <div class="row text-center">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="social-button facebook-button">
                                    <i class="fa fa-facebook"></i>
                                    <p>27k</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="social-button twitter-button">
                                    <i class="fa fa-twitter"></i>
                                    <p>98k</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="social-button google-button">
                                    <i class="fa fa-google-plus"></i>
                                    <p>17k</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="social-button youtube-button">
                                    <i class="fa fa-youtube"></i>
                                    <p>22k</p>
                                </a>
                            </div>
                        </div>
                    </div><!-- end widget -->

                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
{% endblock %}